@import "tailwindcss";
@import './variables.css';

@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --color-primary: #4F46E5;
  --color-primary-hover: #4338CA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
}
